<%- include('../partials/doctor/header') %>

<section id="appointment" data-stellar-background-ratio="3">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-6">
        <!-- CONTACT FORM HERE -->

        <form id="appointment-form" role="form" method="POST" >
          <input type="hidden" name="Patient_id" value="<%=row[0].Patient_id%>">
          
          <div class="section-title wow fadeInUp" data-wow-delay="0.8s">
            <h3>Dr. <%=user.Fname%> <%=user.Lname%>,
              prescribing inpatient <u><%=row[0].Pname%></u></h3>
              <h5>Patient ID: <%=row[0].Patient_id%></h5>
            </div>
            <div class="wow fadeInUp" data-wow-delay="1s">
                <div class="col-md-6 col-sm-6">
                  <label>Select Room to assign:</label>
                  <select name="Room">
                    <% rows.forEach(row => { %>
                      <option><%=row.Room_id%></option>
                    <% }) %>
                  </select>
                  <br>
                  <br>
                  <textarea name="Desc" cols="74" rows="5" placeholder="Description for inpatient" required></textarea>
                  <br>
                  <button type="submit" class="form-control" id="cf-submit">Assign</button>
                  <br>
                </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </section>
  <%- include('../partials/footer') %>