<%- include('../partials/patient/header') %>
<!-- HOME -->
<div class="container">
  <div class="row">
    <h1>PATIENT DASHBOARD</h1>
    <section id="appointment" data-stellar-background-ratio="3">
      <div class="col-md-12 col-sm-6">
        <div class="wow fadeInUp" data-wow-delay="0.8s">
          <div class="col-md-3 col-sm-3">
            <a href="/patient/profile">
              <button type="submit" class="form-control" id="cf-submit">
                <%= __("My profile")%>
              </button>
            </a>
          </div>
          <div class="col-md-3 col-sm-3">
            <a href="/patient/emailchange">
              <button type="submit" class="form-control" id="cf-submit">
                <%= __("Change Email")%>
              </button>
            </a>
          </div>
          <div class="col-md-3 col-sm-3">
            <a href="/patient/passwordchange">
              <button type="submit" class="form-control" id="cf-submit">
                <%= __("Change Password")%>
              </button>
            </a>
          </div>
          <div class="col-md-3 col-sm-3">
            <a href="/patient/appointmentbook">
              <button type="submit" class="form-control" id="cf-submit">
                <%= __("Book an Appointment")%>
              </button>
            </a>
          </div>
          <div class="col-md-3 col-sm-3">
            <a href="/patient/upcomingappointments">
              <button type="submit" class="form-control" id="cf-submit">
                <%= __("Upcoming Appointments")%>
              </button>
            </a>
          </div>
          <div class="col-md-3 col-sm-3">
            <a href="/patient/pendingappointments">
              <button type="submit" class="form-control" id="cf-submit">
                <%= __("Pending Appointments")%>
              </button>
            </a>
          </div>
          <div class="col-md-3 col-sm-3">
            <a href="/patient/prescriptions">
              <button type="submit" class="form-control" id="cf-submit">
                <%= __("Prescriptions")%>
              </button>
            </a>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<%- include('../partials/footer') %>
